.project_item {
  display: flex;
  gap: 2rem;
  padding-bottom: 6rem;
}

.project_item:last-of-type {
  padding-bottom: 0;
}

.part {
  padding-bottom: 2rem;
}

.project_description {
  width: 52rem;
  padding: 2rem;
}

.task_detail {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
}

.task_detail::before {
  content: "";
  position: absolute;
  left: .7rem;
  top: 50%;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: #666;
  transform: translateY(calc(-50% + .1rem));
}

.skill_part {
  display: flex;
}

.skill_type {
  display: inline-block;
  width: 9rem;
  padding-top: .5rem;
  white-space: pre-line;
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-top: .5rem;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .project_item {
    flex-direction: column;
    padding-bottom: 10rem;
  }

  .project_description {
    width: 100%;
    padding: 1.2rem 1.2rem 4rem;
    border-bottom: .1rem solid #ccc;
  }
}

/* responsive: 360px ~ 1023px */
@media (360px <= width <= 1023px) {
  .project_item {
    flex-direction: column;
    padding-bottom: 10rem;
  }

  .project_description {
    width: 100%;
    padding: 1rem 1rem 4rem;
    border-bottom: .1rem solid #ccc;
  }

  .skill_part {
    display: initial;
  }
}