.project_item {
  display: flex;
  gap: 2rem;
  padding-bottom: 6rem;
}

.part {
  padding-bottom: 2rem;
}

.project_description {
  width: 52rem;
  padding: 2rem;
}

.task_detail {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
}

.task_detail::before {
  content: "";
  position: absolute;
  left: .7rem;
  top: 50%;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: #666;
  transform: translateY(calc(-50% + .1rem));
}

.skill_part {
  display: flex;
}

.skill_type {
  width: 9rem;
  padding-top: .5rem;
}

.skill_list {
  display: flex;
  gap: .5rem;
  padding-top: .5rem;
}