.section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--section-bottom);
}

.section_inner {
  width: 144rem;
  padding: 2rem;
}

.section_title {
  padding-bottom: var(--title-h2-bottom);
  font-size: var(--title-h2-size);
}

.skill_part {
  padding-bottom: 3rem;
}

.part_title {
  padding-bottom: var(--title-h3-bottom);
  font-size: var(--title-h3-size);
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .section_inner {
    width: 102.4rem;
    padding: 1.2rem;
  }
}

/* responsive: 480px ~ 1023px */
@media (480px <= width <= 1023px) {
  .section_inner {
    width: 100%;
    padding: 1rem;
  }
}