.project_media {
  overflow: hidden;
  width: 86rem;
  height: 56rem;
  border-radius: .8rem;
}

/* type: component */
.type_component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #333;
}

@keyframes icon_rotate {
  0% {
    filter: hue-rotate(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    filter: hue-rotate(360deg);
    transform: rotateZ(120deg);
  }
  50% {
    filter: hue-rotate(0deg);
    transform: rotateZ(240deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotateZ(360deg);
  }
}

.icon_react {
  --icon-size: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
  color: #61DAFB;
  animation: icon_rotate 30s linear infinite forwards;
}

/* type: video */
.type_video {
  width: 100%;
  height: 100%;
  background: #000;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .project_media {
    width: 100rem;
  }
}

/* video 800px ~ 1023px */
@media (800px <= width <= 1023px) {
  .icon_react {
    --icon-size: 18rem;
  }

  .project_media {
    width: 100%;
    height: 46rem;
  }
}

/* responsive: 600px ~ 799px */
@media (600px <= width <= 799px) {
  .icon_react {
    --icon-size: 16rem;
  }

  .project_media {
    width: 100%;
    height: 40rem;
  }
}

/* responsive: 360px ~ 599px */
@media (360px <= width <= 599px) {
  .icon_react {
    --icon-size: 14rem;
  }

  .project_media {
    width: 100%;
    height: 36rem;
  }
}