.header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  z-index: 79;
}

.header_inner {
  width: 144rem;
  padding: 0 2rem;
}

.group_top {
  display: flex;
  align-items: center;
  height: 5.5rem;
  padding-top: 1.5rem;
}

.group_bottom {
  height: 4rem;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .header_inner {
    width: 102.4rem;
    padding: 0 1.2rem;
  }

  .group_top {
    height: 5rem;
    padding-top: 1rem;
  }
  
  .group_bottom {
    height: 3.5rem;
  }
}

/* responsive: 360px ~ 1023px */
@media (360px <= width <= 1023px) {
  .header_inner {
    width: 100%;
    padding: 0 1rem;
  }

  .group_top {
    height: 4rem;
    padding-top: .5rem;
  }
  
  .group_bottom {
    height: 3rem;
  }
}