.badge {
  display: flex;
  gap: .4rem;
  align-items: center;
  padding: .8rem .9rem;
  border-radius: 1rem;
}

.badge_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2rem;
}

.badge_title {
  padding-right: .5rem;
  font-family: var(--font-en);
  font-weight: 500;
}

.weight_bold {
  font-weight: 700;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .badge {
    padding: .8rem .9rem;
    border-radius: 1rem;
  }

  .badge_icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
  }
  
  .badge_title {
    padding-right: .4rem;
  }
}

/* responsive: 480px ~ 1023px */
@media (480px <= width <= 1023px) {
  .badge {
    padding: .8rem .9rem;
    border-radius: 1rem;
  }

  .badge_icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  
  .badge_title {
    padding-right: .4rem;
    font-size: 1.5rem;
  }
}