.table_data {
  padding: 1rem 0 1rem 2rem;
  text-align: left;
  border-bottom: .1rem solid #ddd;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .table_data {
    padding: 1rem 0 1rem 1.2rem;
    font-size: 1.5rem;
  }
}

/* responsive: 480px ~ 1023px */
@media (480px <= width <= 1023px) {
  .table_data {
    padding: 1rem 0 1rem 1rem;
    font-size: 1.4rem;
  }
}