.section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--section-bottom);
}

.section_inner {
  width: 144rem;
  padding: 2rem;
}

.section_title {
  padding-bottom: var(--title-h2-bottom);
  font-size: var(--title-h2-size);
}

.table_caption {
  padding-bottom: var(--title-h3-bottom);
  font-size: var(--title-h3-size);
  text-align: left;
}

.col_1 {
  width: 30%;
}

.col_2 {
  width: 20%;
}

.col_3 {
  width: 20%;
}

.col_4 {
  width: 20%;
}

.col_5 {
  width: 10%;
}

.table_heading {
  padding: 1rem 0 1rem 2rem;
  font-size: 1.8rem;
  text-align: left;
  border-bottom: .1rem solid #333;
}