.footer {
  display: flex;
  justify-content: center;
  border-top: .1rem solid #ccc;
}

.footer_inner {
  width: 144rem;
  padding: 2rem;
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .footer_inner {
    width: 102.4rem;
    padding: 1.2rem;
  }
}

/* responsive: 360px ~ 1023px */
@media (360px <= width <= 1023px) {
  .footer_inner {
    width: 100%;
    padding: 1rem;
  }
}