.section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--section-bottom);
}

.section_inner {
  width: 144rem;
  padding: 2rem;
}

.section_title {
  padding-bottom: var(--title-h2-bottom);
  font-size: var(--title-h2-size);
}

.intro_text {
  font-size: 1.8rem;
  white-space: pre-line;
}

.part {
  padding-bottom: 3rem;
}

.part_title {
  padding-bottom: var(--title-h3-bottom);
  font-size: var(--title-h3-size);
}

/* responsive: 1024px ~ 1439px */
@media (1024px <= width <= 1439px) {
  .section_inner {
    width: 102.4rem;
    padding: 1.2rem;
  }

  .intro_text {
    font-size: 1.7rem;
  }
}

/* responsive: 360px ~ 1023px */
@media (360px <= width <= 1023px) {
  .section_inner {
    width: 100%;
    padding: 1rem;
  }

  .intro_text {
    font-size: 1.5rem;
  }
}