.title_top {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.5rem;
}

.project_logo_wrap {
  --image_size: 3rem;
  overflow: hidden;
  width: var(--image_size);
  height: var(--image_size);
  border-radius: 1rem;
  box-shadow: -.1rem -.1rem .3rem rgba(0,0,0,.1), .2rem .2rem .2rem rgba(0,0,0,.2);
}

.project_logo {
  width: 100%;
  height: 100%;
}

.project_title {
  font-size: 2.6rem;
}